<footer id="footer" class="footer">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6 footer-about">
                <a href="index.html" class="d-flex align-items-center">
                    <div>
                        <h2 class="sitename">Monitli</h2>
                        <h6 class="pt-2">
                            Narzędzie do monitoringu internetu i mediów społecznościowych. Bądź na bieżąco z opiniami o Twojej marce i konkurencji!
                        </h6>
                    </div>
                </a>
                <div class="footer-contact pt-3">
                    <p><strong>Email:</strong> <span>support@monitli.com</span></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 justify-content-end">
                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <h4>Zaobserwuj Nas</h4>
                        <div class="social-links d-flex">
                            <a href="https://www.facebook.com/profile.php?id=61573497817740"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/monitli"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>